h1 {
    border: solid;
    padding: 1em;
    margin-left: 10px;
    margin-right: 10px;
    background-color: hsl(0, 100%, 100%, 0.9);
}

p {
    font-size: x-large;
    background-color: #e2d9db;
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}